{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
   <div class="jumbotron">
      <p class="lead">.</p>
      <h1>Feedback de Desempenho</h1>
      <hr class="my-4">
      <h5>Plataforma participante do programa "Feedback de Desempenho". Fique à vontade para responder às questões apresentadas. O objetivo é o desenvolvimento profissional e pessoal de nossos colaboradores.
      <br>
      <br>
      <br>
        <p>Faça login abaixo para acessar:</p><a class="btn btn-primary btn-lg" href="/autenticacao/login">Login</a>
    </div>
  </main>
</main>

{% endblock %}
